<h1> Bot sviluppato da Ferdinando Traversa</h1>
Sviluppato con cuore da Ferdinando Traversa - <a href="https://ferdinando.me">Blog</a> - <a href="https://github.com/ferdi2005">Github</a> - Basato su Rails 5

Aggiungilo ai tuoi gruppi --> <a href="http://telegram.me/asdcounterbot">AsdCounterBot</a>